@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #B89168;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.navlinks a{
  margin-inline: 20px;
}
.navbtns input {
  background-color: #4C2B18;
  border-radius: 50px;
  padding-left: 10px;
  
}
.navbtns button {
  margin-inline: 20px;
}